.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spaghetti{
  border:dotted;
  padding: 2px;
  background-color:red;
}

.test {
  background-color: #282c34;
}

.baseSize {
  width: 200px;
  height: 200px;
}

.baseSmall {
  width: 30px;
  height: 30px;
  background-color: plum;
}

.one {
  width: 200px;
  height: 200px;
  color: blue;
  font-size: 2em;
  background-color: red;
}

.two {
  width: 200px;
  height: 200px;
  color: orange;
  font-size: 2.5em;
  background-color: blue;
}
.spaghettur{
  width: 200px;
  height: 200px;

}
.three {
  width: 200px;
  height: 200px;
  background-color: orange;
  color: red;
  font-size: 3em;
}


ul, h5 {
  list-style-type: none;
  text-align: left;
}

h5 {
  margin-left: 30px;
}