@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dela Gothic One';
  src: url('./fonts/DelaGothicOne-Regular.ttf') format('truetype');
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.contributor:hover {
  color: #b1ffa7;
}
.contributor {
  transition: 0.3s;
}
.row-1 {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spaghetti{
  border:dotted;
  padding: 2px;
  background-color:rgb(177, 32, 32);
}



.test {
  background-color: #353535;
}

.addBorders {
  box-sizing: border-box;
  border: 2px solid orange;
}

.baseSize {
  width: 200px;
  height: 200px;
}

.baseSmall {
  width: 30px;
  height: 30px;
  background-color: plum;
}

.one {
  width: 200px;
  height: 200px;
  color: blue;
  font-size: 1em;
  background-color: red;
}

.two {
  width: 200px;
  height: 200px;
  color: orange;
  font-size: 1.5em;
  background-color: blue;
}
.spaghettur{
  width: 560px;
  height: 315px;

}

.three {
  width: 200px;
  height: 200px;
  background-color: orange;
  color: red;
  font-size: 2em;
}
.classHidden {
  display: none;
}
.classVisibile {
  display: inline-block;
}


ul, h5 {
  list-style-type: none;
  text-align: left;
}

h5 {
  margin-left: 30px;
}